body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-text h1 {
    color: #333;
    font-size: 3rem;
    line-height: 1.3;
}

.hero-text .highlight {
    color: #000;
}

.hero-text .brand {
    color: black;
    font-weight: 900;
    background: linear-gradient(to right, #000, #f54d27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-card img {
    height: 300px;
    object-fit: cover;
}
