/* components/Portfolio.css */
/*.hero-text h1 {
    color: #333;
    font-size: 3rem;
    line-height: 1.3;
}

.hero-text .highlight {
    color: #000;
}

.hero-text .brand {
    font-weight: 900;
    background: linear-gradient(to right, #000, #f54d27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-card img {
    height: 300px;
    object-fit: cover;
}*/

/* components/Portfolio.css */
.hero-text {
    text-align: center;
}

.highlight {
    color: #007bff;
}

.brand {
    color: #ff5733;
}

.product-card {
    border: none;
    background-color: #fff;
}

.card-body {
    text-align: center;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}
